<a href="https://colab.research.google.com/github/kapurm17/Andrew-Ng-ML-Course/blob/master/tf_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Linear Regression Using Tensorflow**

In [0]:
import numpy as np
from sklearn.datasets import fetch_california_housing
import tensorflow as tf
import pandas as pd

In [0]:
data = fetch_california_housing().data
target = fetch_california_housing().target

In [0]:
data_df = pd.DataFrame(data)

In [38]:
data_df

            0     1         2         3       4         5      6       7
0      8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1      8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2      7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3      5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4      3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
...       ...   ...       ...       ...     ...       ...    ...     ...
20635  1.5603  25.0  5.045455  1.133333   845.0  2.560606  39.48 -121.09
20636  2.5568  18.0  6.114035  1.315789   356.0  3.122807  39.49 -121.21
20637  1.7000  17.0  5.205543  1.120092  1007.0  2.325635  39.43 -121.22
20638  1.8672  18.0  5.329513  1.171920   741.0  2.123209  39.43 -121.32
20639  2.3886  16.0  5.254717  1.162264  1387.0  2.616981  39.37 -121.24

[20640 rows x 8 columns]

In [39]:
data_df.describe()

                  0             1  ...             6             7
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...     35.631861   -119.569704
std        1.899822     12.585558  ...      2.135952      2.003532
min        0.499900      1.000000  ...     32.540000   -124.350000
25%        2.563400     18.000000  ...     33.930000   -121.800000
50%        3.534800     29.000000  ...     34.260000   -118.490000
75%        4.743250     37.000000  ...     37.710000   -118.010000
max       15.000100     52.000000  ...     41.950000   -114.310000

[8 rows x 8 columns]

In [40]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
0    20640 non-null float64
1    20640 non-null float64
2    20640 non-null float64
3    20640 non-null float64
4    20640 non-null float64
5    20640 non-null float64
6    20640 non-null float64
7    20640 non-null float64
dtypes: float64(8)
memory usage: 1.3 MB

In [0]:
# Adding bias unit
X = np.append(np.ones((data.shape[0], 1)), data, axis=1)

In [42]:
X.shape

(20640, 9)

In [0]:
# creating a tensorflow variable
x = tf.constant(X, dtype=tf.float32, name='x')
y = tf.constant(target.reshape(-1, 1), dtype= tf.float32, name='y')

In [0]:
theta = tf.Variable(np.random.rand(X.shape[1], 1),dtype = tf.float32, name='theta')

In [0]:
y_pred = tf.matmul(x, theta)

In [0]:
error = y_pred - y

In [0]:
mse = tf.multiply(tf.reduce_mean(tf.square(error), name='mse'), 1/2)

In [0]:
grad = tf.matmul(tf.transpose(x), error)

In [0]:
learning_rate=0.01
n_epochs=100
opt = tf.assign(theta, theta-(learning_rate*grad))

In [0]:
init = tf.global_variables_initializer()

In [68]:
with tf.Session() as sess:
  sess.run(init)
  for epoch in range(n_epochs):
    if epoch%10 == 0:
      print("Epoch", epoch, "\t MSE= ", mse.eval())
    sess.run(opt)

Epoch 0 	 MSE=  12239.69
Epoch 10 	 MSE=  nan
Epoch 20 	 MSE=  nan
Epoch 30 	 MSE=  nan
Epoch 40 	 MSE=  nan
Epoch 50 	 MSE=  nan
Epoch 60 	 MSE=  nan
Epoch 70 	 MSE=  nan
Epoch 80 	 MSE=  nan
Epoch 90 	 MSE=  nan